#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: 'REM', sans-serif;
}
.error-message {
  color: #ff3636;
}
.boton {
  width: 55px;
  height: 55px;
  font-size: 25px;
  cursor: pointer;
  background-color: #efff43;
  border-radius: 5px;
}